---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import AppGallery from '../components/AppGallery.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Zenith POS | Sistema de Punto de Venta">
	<Navbar />
	<main class="flex-grow">
		<HeroSection />
		<FeaturesSection />
		<AppGallery />
	</main>
	<Footer />
</BaseLayout>